body{
    display:flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: #1F2937;
    color:#E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.logo-text{
    font-family: 'Futura', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #F9FAF8;
}
.header-links{
    display: flex;
    gap: 10px;
}
a{
    text-decoration: none;
    color: #E5E7EB
}

.section-one{
    display: flex;
    gap:20px;
    align-items: space-around;
    padding: 50px;
    background-color: #1F2937;
    color: #F9FAF8;
}
.section-one-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section-one-left .headline{
    font-size: 48px;
    font-weight: bolder;
}
.section-one-left button {
    width: fit-content;
    height:30px;
    background-color: #3882f6;
    color:#E5E7EB;
    border-radius: 5px;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;

}
.section-one-img img{
    height: auto;
    width: 400px;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.squares{
    display: flex;
    gap: 10px
}
.square{
    width: 150px;
    height: 100px;
    border: blue solid 5px;
    border-radius: 10px;
}
.section-three{
    display: flex;
    flex-direction: column;
    margin: 100px;
}
.quote{
    font-size: 36px;
    font-weight: light italic;
    justify-content: center;
}
.section-four{
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    padding: 50px;
}
.call2action{
    display: flex;
    /* border: 2px solid green; */
    width: 80%;
    height: 150px;
    background-color: #3882f6;
    justify-content: space-evenly;
    align-items: center;
}
.call2action .text{

}
.call2action .btn{

}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 20px;
}