body{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    background-color: #1F2937;
    color:#E5E7EB;
    font-size: 18px;
    justify-content: space-around;
    padding: 1%;
}
.logo-text{
    font-family: 'Futura', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #F9FAF8;
}
.header-links{
    display: flex;
    gap: 10px;
}
a{
    text-decoration: none;
    color: #E5E7EB
}

.section-one{
    display: flex;
    gap:20px;
    justify-content: center;
    padding: 50px;
    background-color: #1F2937;
    color: #F9FAF8;
}
.section-one-left{
    display: flex;
    width: 400px;
    flex-direction: column;
    gap: 10px;
}
.section-one-left .headline{
    font-size: 48px;
    font-weight: bolder;
}
.section-one-left button {
    width: fit-content;
    height:30px;
    background-color: #3882f6;
    color:#E5E7EB;
    border-radius: 5px;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;

}
.section-one img{
    height: auto;
    width: 400px;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px
}
.squares{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.square{
    width: 250px;
    height: 250px;
    border: rgba(0, 0, 255, 0.187) solid 2px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.section-two p{
    display: flex;
    justify-content: center;

}
.square img{
    width:100%;
    height: 100%;
    object-fit:contain;
}
.section-three{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* border: 2px solid green; */
    padding:10%;
    background-color: #e5e7eB;

}
.section-three .text{
    display: flex;
    flex-direction: column;
}
.section-three .quote{
    display: flex;
    font-size: 36px;
    font-style: italic;
    word-wrap: break-word;
    /* border: 2px solid red; */
}
.section-three .quote-author {
    font-size: 18px;
     text-align: end;
     font-weight: bold;
     margin: 10px;
}
.section-four{
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    padding: 50px;
}
.call2action{
    display: flex;
    /* border: 2px solid green; */
    width: 80%;
    height: 150px;
    background-color: #3882f6;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    color: #E5E7EB;
}
.call2action .text{
}
.call2action button{
    background-color: #3882f6;
    color:#E5E7EB;
    border: 2px #E5E7EB solid;
    border-radius: 8px;
    font-weight: bold;
    width: 100px;
    height:30px;
}
.call2action button:hover,.section-one-left button:hover{
    background-color: #F9FAF8;
    color:#3882f6
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 20px;
}