body{
    display:flex;
    flex-direction: column;
}
.header{
    background-color: #1F2937;
    color:#E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 20px
}
.logo-text{
    font-family: 'Futura', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;
    color: #F9FAF8;
}
.header-links{
    display: flex;
    gap: 10px;
}
a{
    text-decoration: none;
    color: #E5E7EB
}

.section-one{
    display: flex;
    gap:20px;
    justify-content: center;
}
.section-one-left{
    display: flex;
    flex-direction: column;
}
.section-one-img img{
    height: auto;
    width: 400px;
}

.section-two {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.squares{
    display: flex;
    gap: 10px
}
.square{
    width: 150px;
    height: 100px;
    border: blue solid 5px;
    border-radius: 10px;
}